@import './../../_variables.scss';

 .container {
   position: fixed;
   width: 40%;

   .button {
     top: 2%;
     position: absolute;
     right: 80px;
   }

   .header {
     text-align: center;
     background-color: $containerGrey;
     font-size: 15px;
     color: white;
     font-weight: 100;
     padding: 10px;
   }

   .content {
     font-size: 15px;
     overflow-x: hidden;
     max-height: 60%;
     position: fixed;
     width: 40%;
     border-width: 1px;
     border-style: solid;
     display: inline;
     background-color:  #f2f2f2;
     .error {
       color: #ff3860;
       font-size: 10px;
       font-weight: 100;
     }
     .text {
       padding-left: 10px;
       font-weight: 100;
       .headers {
         text-decoration: underline;
         font-weight: 800;
       }
     }
   }
 }
