@import './../_variables.scss';

.container {
  font-family: sans-serif;
  .logo {
    left: 1.5% !important;
    width: 150px !important;
    position: absolute !important;
    top: 1.5% !important;
  }
}
