@import './../_variables.scss';

 .container {
    .logo {
      width: 100%;
      position: relative;
      margin: auto;
      left: 1.5%;
      width: 14.5%;
      position: absolute;
      top: 3%;
      &:hover {
        cursor: pointer;
      }
    }
 }
