@import './../../_variables.scss';

 .container {
   font-size: 20px;
   padding-top: 20px;
   right: 7%;
   z-index: 2;
   position: absolute;
   list-style-type: none;
   color: $containerGrey;
   &:hover {
     cursor: pointer;
   }
 }
