@import './../_variables.scss';


.inputContainer {
  top: 50%;
  left: 20%;
  position: fixed;
  overflow: hidden;
  .inputText {
    top: 45%;
    left: 33%;
    position: fixed;
    display: table-cell;
    font-size: 25px;
  }
  .input1 {
    top: 60%;
    left: 35.2%;
    position: fixed;
  }
  .input2 {
    top: 60%;
    left: 53.1%;
    position: fixed;
  }
  .dollar1  {
    top: 53%;
    left: 32.9%;
    position: fixed;
    font-size: 25px;
  }
  .dollar2 {
    top: 53%;
    left: 50.8%;
    position: fixed;
    font-size: 25px;
  }
  .dash {
    top: 53%;
    left: 48%;
    font-size: 25px;
    display: inline;
    position: fixed;
  }
}

.buttonContainer {
  margin-top: 45%;
  .modal1 {
    position: fixed;
    bottom: 20%;
    left: 25px;
  }
  .modal2 {
    position: fixed;
    bottom: 20%;
    right: 125px;
  }
}

.container {
  overflow: hidden;

   .navigate {
      display: none;
   }

   .button {
     bottom: 12%;
     left: 25px;
     position: absolute;
   }

   .create {
     bottom: 12%;
     position: absolute;
     right: 125px;
   }

   .filter {
     position: absolute;
     text-decoration: underline;
     font-size: 13px;
     text-align: center;
     left: 50%;
     top: 10%;

     &:hover {
       cursor: pointer;
     }
   }

   .community {
     top: 20%;
     left: 1.5%;
     position: absolute;
   }
   .housing {
     top: 20%;
     left: 26.1%;
     position: absolute;
   }
   .forsale {
     top: 20%;
     left: 50.7%;
     position: absolute;
   }
   .jobs {
     top: 20%;
     left: 75.3%;
     position: absolute;
   }
}
