@import './../_variables.scss';


.inputContainer {
  top: 50%;
  left: 25%;
  position: absolute;
  .inputText {
    display: table-cell;
    font-size: 30px;
  }
  .input2 {
    position: relative;
  }
  .dash {
    font-size: 30px;
    display: inline;
  }
}

.buttonContainer {
  margin-top: 45%;
  .modal2 {
    margin-bottom: -5%;
    margin-left: 79%;
  }
}

.container {

  .navigate {
    display: none;
  }
   .school {
     text-align: center;
     font-family: Arial;
     font-size: 50px;
   }

   .text {
     text-align: center;
     font-family: Arial;
     font-size: 50px;
     margin-top: 10%;
   }

   .button {
     top: 49%;
     left: 33%;
     width: 100px;
     position: absolute;

     .create {
       left: 573px;
       width: 100%;
       position: relative;
     }

     .filter {
       left: 330px;
       position: relative;
       text-decoration: underline;
       font-size: 18px;

       &:hover {
         cursor: pointer;
       }
     }
   }
}
