@import './../_variables.scss';


.inputContainer {
  top: 50%;
  left: 25%;
  position: absolute;
  .inputText {
    display: table-cell;
    font-size: 30px;
  }
  .input2 {
    position: relative;
  }
  .dash {
    font-size: 30px;
    display: inline;
  }
}

.buttonContainer {
  margin-top: 45%;
  .modal2 {
    margin-bottom: -5%;
    margin-left: 79%;
  }
}

.container {
  overflow: hidden;

   .navigate {
      display: none;
   }

   .button {
     bottom: 12%;
     left: 25px;
     position: absolute;
   }

   .create {
     bottom: 12%;
     position: absolute;
     right: 155px;
   }

   .filter {
     position: absolute;
     text-decoration: underline;
     font-size: 13px;
     width: 100%;
     text-align: center;
     top: 10%;

     &:hover {
       cursor: pointer;
     }
   }

   .community {
     top: 20%;
     left: 1.5%;
     position: absolute;
   }
   .housing {
     top: 20%;
     left: 26.1%;
     position: absolute;
   }
   .forsale {
     top: 20%;
     left: 50.7%;
     position: absolute;
   }
   .jobs {
     top: 20%;
     left: 75.3%;
     position: absolute;
   }
}
