@import './../_variables.scss';

 .container {
   overflow: hidden;
   width: 100%;
   .header {
     margin-top: 7%;
     width: 100%;
     text-align: center;
     position: relative;
     font-size: 20px;
   }
   .line {
     width: 100%;
     border-color: grey;
     position: relative;
   }
   .postingContainer {
      position: relative;
      margin-top: 2em;
      text-align: left;
   }
   .navigate {
     display: none;
   }
 }
